/* COLOUR REFERENCES
Red (buttons): #FF2B06;
Red lighter: ;
Grey(text): #555555;
*/

/*--------------------------------------------------------------
# GENERAL
--------------------------------------------------------------*/
body {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 16px;

}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h1,h2 {
  margin: 0 0 40px;
}

h3 {
  margin: 20px 0;
}

h4 {
  font-size: 18px;
}

.btn-ted {
  background-color: #FF2B06;
  box-shadow: 0px 1px 3.92px 0.08px rgba(0, 0, 0, 0.35);
  font-size: 1.125em;
  /*font-family: "Source Sans Pro";*/
  color: white;
  text-transform: uppercase;
  line-height: 1.444;
  padding: 10px 50px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.section-title {
  margin-top: 50px;
  font-size: 2.625em;
  font-family: "Ubuntu";
  color: rgb(34, 34, 34);
  line-height: 1.357;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar.navbar-fixed-top.navbar-bg{
  /*background-color: rgba(0,0,0, 0.6);*/
}

.navbar-nav>li>a {
  color: white;
}

.navbar-brand {
  padding: 3px;
}

.navbar-brand>img {

  height: 100%;
  margin: auto;
  padding: 3px;
  width: auto;
}


/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#home {
  min-height: 750px;
  color: rgb(255, 255, 255);
  background: url('../img/bg-header.jpeg') center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding-top: 50px;
}

.banner-text {
  margin-top: 100px;
  margin-left: 50px;

}

.banner-text h1 {
  font-size: 2.625em;
  font-weight: bold;
  line-height: 1.19;
  text-align: left;
}

.banner-text p {
  /*font-family: "Source Sans Pro";*/
  font-weight: lighter;
  line-height: 1.625;
  text-align: left;
  margin-bottom: 50px;
}

ul.home-social-links {
  list-style-type: none;

}

.home-social-links > li > a {
  color: #555555;
}

.home-social-links > li {
  margin: 10px;
}

.home-social-links > li > a > i {
  font-size: 20px;
}

.home-social-links img {

}
/*--------------------------------------------------------------
# Speakers
--------------------------------------------------------------*/
.speaker {
  text-align: center;
}

.speaker img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 2px solid red;
  box-shadow: 0px 4px 3.92px 0.08px rgba(0, 0, 0, 0.35);
  margin: auto;

}

.speaker h3 {
  font-size: 1.250em;
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;


}

.speaker h4 {
  font-size: 0.813em;
  /*font-family: "Source Sans Pro";*/
  color: rgb(85, 85, 85);
  line-height: 1.769;


}

/*--------------------------------------------------------------
# Venue
--------------------------------------------------------------*/
/*
#venue {
  position: static;
  height: 500px;
  width: 100%;
  position: absolute;
}

#map {
  height: 100%;
  z-index: 1;
  width: 100%;
  /*position: absolute;
}

#venue .venue-text {
  z-index: 2;
  background: white;
  position: relative;
  top: 0;
  right: 0;
  opacity: .45;
  height: 100%
}
*/


#venue {
  background: url('../img/google_map.jpg') center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  height: 500px;
}

.venue-text {
  height: 100%;
  background-color: #FF2B06;
  opacity: 0.75;
  color: white;
}

.venue-text h2 {
  padding-top: 100px;
  color: white;
}
/*--------------------------------------------------------------
# Agenda
--------------------------------------------------------------*/

ul.timeline {
position: relative;
list-style-type: none;
padding-left: 180px;
&:before {
  position: absolute;
  display: block;
  left: 136px;
  width: 8px;
  height: 100%;
  border-radius: 4px;
  background-color: #FF2B06;
  content: ' ';
}

.timeline-item {
  position: relative;
  padding: 16px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  padding: 16px;
  margin-bottom: 30px;
  &:before {
    display: block;
    position: absolute;
    top: 30px;
    left: -55px;
    width: 30px;
    height: 30px;
    border: 6px solid #FF2B06;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 4px -1px rgba(0,0,0,0.6);
    content: ' ';
  }
}

.time {
    position: absolute;
    display: block;
    width: 120px;
    top: 35px;
    left: -179px;
    font-size: 0.9em;
    text-align: right;
    font-weight: 600;
    text-transform: uppercase;
}

/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
.news-item {
  height: 200px;
}

.news-item img {
  max-height: 60%;
}

/*--------------------------------------------------------------
# Partners
--------------------------------------------------------------*/

.partners-item {
  height: 100px;
  text-align: center;
}

.partners-item img {
  max-height: 100px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/


#team {
  background: url('../img/bg-team.jpg') center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

.team-member {
    text-align: center;
}


.team-member img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 1px solid white;
  margin: auto;

}

.team-member h3 {
  font-size: 1.250em;
  color: white;
  font-weight: bold;
  line-height: 1.5;


}
