/* COLOUR REFERENCES
Red (buttons): #FF2B06;
Red lighter: ;
Grey(text): #555555;
*/

/*--------------------------------------------------------------
# GENERAL
--------------------------------------------------------------*/
body {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 16px;

}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h1,h2 {
  margin: 0 0 40px;
}

h3 {
  margin: 20px 0;
}

h4 {
  font-size: 18px;
}

.btn-ted {
  background-color: #FF2B06;
  box-shadow: 0px 1px 3.92px 0.08px rgba(0, 0, 0, 0.35);
  font-size: 1.125em;
  /*font-family: "Source Sans Pro";*/
  color: white;
  text-transform: uppercase;
  line-height: 1.444;
  padding: 10px 50px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.section-title {
  margin-top: 50px;
  font-size: 2.625em;
  font-family: "Ubuntu";
  color: rgb(34, 34, 34);
  line-height: 1.357;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar-bg{
  /*background-color: rgba(0,0,0, 0.6);*/
}

.navbar-nav>li>a {
  color: white;
}

.navbar-brand {
  padding: 3px;
}

.navbar-brand>img {

  height: 100%;
  margin: auto;
  padding: 3px;
  width: auto;
}


/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#home {
  min-height: 750px;
  color: rgb(255, 255, 255);
  background: url('../img/bd-header2.jpg') center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding-top: 50px;
}

.row {
  width: 100%;
}

.banner-text {
  margin-top: 150px;
  padding-left: 50px;
}

.banner-text h1 {
  font-size: 2.625em;
  font-weight: bold;
  line-height: 1.19;
  text-align: left;
}

.banner-text p {
  /*font-family: "Source Sans Pro";*/
  font-weight: lighter;
  line-height: 1.625;
  text-align: left;
  margin-bottom: 50px;
  font-size: 1.1em;
}

ul.home-social-links {
  list-style-type: none;
  position: absolute;
  right: 15px;
}

.home-social-links > li > a {
  color: #555555;
}

.home-social-links > li {
  margin: 10px;
}

.home-social-links > li > a > i {
  font-size: 20px;
}

.home-social-links img {

}
/*--------------------------------------------------------------
# Speakers
--------------------------------------------------------------*/
#speakers {
  padding-top: 50px;
}

.speaker {
  text-align: center;
  padding-bottom: 25px;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
}

#speakers .row {
  margin-bottom: 50px;
}

.speaker-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 2px solid red;
  box-shadow: 0px 4px 3.92px 0.08px rgba(0, 0, 0, 0.35);
  margin: auto;
}

.speaker-image img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
    -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;

}

.speaker-image img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; / IE 6-9 /
}

.speaker h3 {
  font-size: 1.250em;
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 0;
}

.speaker h3:hover {
  font-size: 1.313em;
  box-sizing: border-box;
}

.speaker a:hover, .speaker a:active, .speaker a:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

.speaker h4 {
  font-size: 1.1em;
  /*font-family: "Source Sans Pro";*/
  color: rgb(85, 85, 85);
  line-height: 1.3;
  font-weight: lighter;
  margin-top: 0;
}

.speaker h4:hover {
  font-size: 1.125em;
}

/*--------------------------------------------------------------
# Venue
--------------------------------------------------------------*/
/*
#venue {
  position: static;
  height: 500px;
  width: 100%;
  position: absolute;
}

#map {
  height: 100%;
  z-index: 1;
  width: 100%;
  /*position: absolute;
}

#venue .venue-text {
  z-index: 2;
  background: white;
  position: relative;
  top: 0;
  right: 0;
  opacity: .45;
  height: 100%
}
*/


#venue {
  height: 500px;
  position: relative;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.venue-content {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.venue-content .section-title {
  margin-top: 0;
}

.venue-text {
  height: 100%;
  background-color: #FF2B06;
  opacity: 0.75;
  color: white;
}

.venue-text h2 {
  padding-top: 100px;
  color: white;
}
/*--------------------------------------------------------------
# Agenda
--------------------------------------------------------------*/
#agenda {
  padding-top: 50px;
}

.timeline-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.timeline-item h4 {
  font-weight: normal;
}


.timeline-item .timeline-item-icon {
  height: 50px;
  width: 50px;
  border: 1px solid #FF2B06;
  border-radius: 50%;
  background-color: #FF2B06;
  color: white;
  /*padding-left: 11px; */

}

.timeline-item .timeline-item-icon i {
  padding-top: 9px;
}

.timeline-item .timeline-item-icon .fa-microphone {
  /*padding-left: 13px; */
}

.timeline-item .timeline-item-icon.coffee {
  padding-left: 9px;
}

.timeline-item .timeline-item-icon.lunch {
  padding-left: 12px;
}

.timeline-item .timeline-item-time {
  text-align: right;
}

.timeline-item .uppercase {
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
#news {
  padding-top: 50px;
}

.news-item {
  height: 200px;
}

.news-item img {
  max-height: 60%;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  margin: 100px 80px 0 80px;
}

/*--------------------------------------------------------------
# Partners
--------------------------------------------------------------*/
#partners {
  padding-bottom: 50px;
  padding-top: 50px;
}

.partners-item {
  text-align: center;
  padding-top: 40px;
  vertical-align: middle;
}

.partners-item img {
  max-height: 100px;
  margin: auto;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/


#team {
  background: url('../img/bg-team.jpg') center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

#team h2 {
  color: white;
}

.team-member {
    text-align: center;
    color: white;
    padding-bottom: 40px;
}


.team-member img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 2px solid white;
  margin: auto;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;

}

.team-member a, .team-member h3 {
  font-size: 1.125em;
  color: white;
  font-weight: bold;
  line-height: 1.5;
}



/*--------------------------------------------------------------
# About TED
--------------------------------------------------------------*/
#about-ted {
  background-color: #ff2b06;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  opacity: 0.8;
  height: auto;
}

#about-ted h2 {
  color: white;
}

#about-ted p {
  margin-bottom: 15px;
  font-size: 1.1em;
}

#about-ted .btn-ted {
  background-color: white;
  color: #FF2B06;
}
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
footer {
  background-color: #222;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.footer-logo {
  width: 50%;
  height: auto;
}

footer p {
  margin-top: 25px;
  color: #888;
}

.first-footer-column {
  padding-left: 50px;
}

.second-footer-column a {
  color: #888;
}

.third-column-footer {
  border-left: 1px solid #888;
  padding-bottom: 25px;
}

.contact-form, .third-column-footer>h3 {
  width: 90%;
  padding-left: 5%;
}

.contact-form .input-group {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

}

.contact-form .form-control {
  color: white;
}

.contact-form .form-control, #contact-words {
  background-color: #222;
}

#contact-words {
  width: 100%;
  border-radius: 0;
}

.btn-submit-form {
  background-color: white;
  padding-right: 50px;
  padding-left: 50px;
  color: #222;
}

.footer-links li a {
  color: #888;
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Lightbox
--------------------------------------------------------------*/

.speaker-lightbox {
  background-color: #FF2B06;
  color: white;
}

.speaker-lightbox p a, .speaker-lightbox .close {
  color: white;
  opacity: .8;
}

.speaker-lightbox .speaker-image {
  border: 2px solid white;
}

.speaker-lightbox .speaker-image img{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; / IE 6-9 /
}

.speaker-lightbox h3{
  font-size: 1.250em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
}

.speaker-lightbox h4{
  font-weight: lighter;
  font-size: 1.1em;
}

.speaker-lightbox p{
  font-weight: lighter;
  font-size: 1em;
  margin: 0 20px 10px;

}
